.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  .left-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-panel img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  .login-form h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px; 
    color: #0177ff;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-top: 15px; 
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .login-form a {
    margin-top: 15px; 
    font-size: 14px;
    text-decoration: none;
    color: purple;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }
  